@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Nunito";
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --primary-color: #43b9c3;
  --gray-color: #757575;
  --secondary-color: #c34d43;
}

body {
  height: 100%;
}
.dark-profile-background {
  background: white center/cover url("/svg/person-colored.svg") no-repeat;
}
.white-profile-background {
  background: #43b9c3 center/cover url("/svg/person-white.svg") no-repeat;
}
